{% extends 'myfirstapp/base.html' %}
{% load filters %}
{% block content %}
    <a href="{% url 'my-year-home' %}">To Home</a>

    <article class="grid-wrapper">
        {% for a in amnt %}
            {% ifchanged %}
                
                    <section class="grid-item">
                        <div>
                            <div style="height: 180px;">
                                <div style="color: white; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding: 5px; letter-spacing: 2px;">{% autoescape off %}{% each_month_cal a.date_created|date:'Y' a.date_created|date:'m' %}{% endautoescape %}</div>
                            </div>
                            <hr style="background-color: wheat;">
                            <!-- <div style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: black; word-spacing: 5px;">{{ a.date_created|date:'M' }}: {% recorded_days_activity_cal a.date_created|date:'Y' a.date_created|date:'m' %}</div> -->
                            <div style="max-width: 350px; color: cornsilk; background-color: darkslategray; padding: 0 2px 0 2px; border-radius: 2px;">
                                <p style="float: right; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 10px;"><span style="color: white; font-weight: bold;">{% recorded_days_length a.date_created|date:'Y' a.date_created|date:'m' %}</span> working day(s)</p>
                                <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 10px; text-decoration: underline;">Recorded days</p>
                                {% recorded_days_activity_cal a.date_created|date:'Y' a.date_created|date:'m' %}
                            </div>
                            <hr style="background-color: cadetblue;">
                            <div style="max-width: 350px; height: 100px; color: cornsilk; background-color: red; padding: 1px 2px 1px 2px; border-radius: 2px;">
                                <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 10px; text-decoration: underline;">Unrecorded days</p>
                                {% unrecorded_days_activity_cal a.date_created|date:'Y' a.date_created|date:'m' %}
                            </div>
                              
                        </div>
                    </section>
                
            {% endifchanged %}
        {% endfor %}
    </article>
   
{% endblock %}